.week {
	grid-column: center-start/center-end;
	margin-bottom: 4rem;

	&__heading {
		border-bottom: 1px solid $color-grey-light-1;
	}
	animation: $animation-name $animation-duration;
}
.days {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

	padding-top: 1rem;

	@media only screen and (max-width: $bp-small) {
		grid-template-columns: 1fr;
		grid-gap: 1rem;
	}
}
.day {
	width: 100%;
	list-style: none;
	text-align: center;

	@media only screen and (max-width: $bp-large) {
		margin-bottom: 2rem;
	}

	@media only screen and (max-width: $bp-small) {
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-columns: repeat(4, 1fr);

		margin-bottom: 0;
	}

	&__name {
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: 1px;

		@media only screen and (max-width: $bp-small) {
			text-transform: capitalize;
			font-size: 1.6rem;

			justify-self: start;
		}
	}

	&__deg {
		font-size: 2.2rem;

		& span {
			font-size: 1.4rem;

			@media only screen and (max-width: $bp-small) {
				display: none;
			}
		}
	}

	&__weather {
		font-size: 1.2rem;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: capitalize;
	}
}
